<h1>{{title}}</h1>
<div class="hall-list">
    <ul class="halls">
        <li *ngFor="let hall of halls"
            [class.selected]="hall === selectedHall"
            (click)="onSelect(hall)">
            <div>
                <span class="badge">{{hall.id}}</span>{{hall.hallName}}
                <div>
                    <label *ngIf="session">Цена места: {{hall.ordinaryPrice}} руб.</label>
                    <label *ngIf="!session">Ставка на обычные: {{hall.ratioOrdinaryPlace}} руб.</label>
                </div>
                <div>
                    <label *ngIf="session">Цена на VIP: {{hall.vipPrice}} руб.</label>
                    <label *ngIf="!session">Ставка на VIP: {{hall.ratioVipPlace}} руб.</label>
                </div>
            </div>
        </li>
    </ul>
</div>